@font-face{
	font-family: "roboto_l";
	src:url(../fonts/Roboto-Light.html);
}

@font-face{
	font-family: "roboto_md";
	src:url('../fonts/Roboto-Medium.html');
}

@font-face{
	font-family: "roboto_i";
	src:url('../fonts/Roboto-Italic.html');
}

@font-face{
	font-family: "roboto_b";
	src:url('../fonts/Roboto-Bold.html');
}

.grids_in{
    height: 293px !important;
}


@font-face{
	font-family: "roboto_l";
	src:url(../fonts/Roboto-Light-2.html);
}

@font-face{
	font-family: "roboto_md";
	src:url('../fonts/Roboto-Medium-2.html');
}

@font-face{
	font-family: "roboto_i";
	src:url('../fonts/Roboto-Italic-2.html');
}

@font-face{
	font-family: "roboto_b";
	src:url('../fonts/Roboto-Bold-2.html');
}

.pagenot {
  margin: 0px auto;
  text-align: center;
  position: relative;
  font-family:"roboto_md";
  line-height:1.5em;
}

.pagenot h1 {
  font-size: 235px;
  color: #314D68;
  font-weight: bold;
  padding: 0;
    margin: 0;
	  line-height:1.5em;
}

.about_desc div {
  padding: 7px 0;
}
.pagenot-text {
  position: absolute;
  top: 150px;
  background: #FFF;
  width: 100%;
}

.pagenot p {
  font-size: 16px;
  color: #858585;
  line-height: 1.6em;
  padding: 0;
  font-weight: 400;
  margin: 0 auto;
}

.pagenot p  a{text-decoration:none; color:#314D68;}

.search_form404 {
  margin-top: 15px;
}

.search_form404 input[type="text"] {
  display: inline-block;
  padding: 10px 10px;
  width: 300px;
  margin: 0;
  border: 1px solid #EBEBEB;
  background: #F2F2F2;
  color: #C4C4C4;
  font-size: 1em;
  outline: none;
  font-family: 'Oxygen', sans-serif;
  box-shadow: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}

.search_form404 input[type="submit"],.search_form404 input[type="text"]{  box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;}

.search_form404 input[type="submit"] {
  border: none;
  background: #3498DB;
  padding: 10px 25px;
  color: #FFF;
  font-size: 1em;
  font-weight: bold;
  -webkit-appearance: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width:80px;
}

.pagenot-text h3 {
  font-size: 22px;
  color: #314D68;
  padding: 16px;
      text-transform: uppercase;
  margin:0;
}
